@model Trabalho_PUC.Models.Grupo

@{
    ViewData["Title"] = "Create";
}

<style>
    .button {
        background-color: #49108B;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

        .button:hover {
            background-color: #350a66;
        }
</style>

<h1>Adicionar novo grupo</h1>

<h4>Grupo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participantes" class="control-label"></label>
                <input asp-for="Participantes" class="form-control" />
                <span asp-validation-for="Participantes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recebedor" class="control-label"></label>
                <input asp-for="Recebedor" class="form-control" />
                <span asp-validation-for="Recebedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input type="submit" value="Salvar" class="button" />
            </div><br />
            <div><a asp-action="Index" >Voltar a listagem</a> </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
