@model Trabalho_PUC.Models.User

@{
    ViewData["Title"] = "Edit";
}

<style>
    body {
        background-color: #f4f4f9;
        color: #333;
    }

    h1 {
        color: #49108B;
    }

    .btn-primary {
        background-color: #49108B;
        border-color: #49108B;
    }

        .btn-primary:hover {
            background-color: #38106d;
            border-color: #38106d;
        }

    .form-control {
        border-color: #49108B;
    }

        .form-control:focus {
            border-color: #38106d;
            box-shadow: 0 0 0 0.2rem rgba(73, 16, 139, 0.25);
        }
</style>

<h1>Editar Dados Usuário</h1>

<hr />

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Nome" class="control-label">Name</label>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Senha" class="control-label">Password</label>
                        <input asp-for="Senha" class="form-control" />
                        <span asp-validation-for="Senha" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Perfil" class="control-label">Profile</label>
                        <select asp-for="Perfil" class="form-control">
                            <option value="">Select Profile</option>
                            <option value="Admin">Admin</option>
                            <option value="User">User</option>
                        </select>
                        <span asp-validation-for="Perfil" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
