
@model Trabalho_PUC.Models.User

@{
    ViewData["Title"] = "Login";
}

<div class="form-group text-center">
<h1> MasterMoney</h1>
</div>

<hr />



<div class="row">
    

    <div class="col-md-4 d-none d-md-flex align-items-center justify-content-center p-0">
        <img src="~/lib/imagem_login.png" class="img-fluid" alt="Imagem de Login">
    </div>


    <div class="col-md-4 offset-md-2 d-flex align-items-center justify-content-center">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CPF" class="control-label"></label>
                <input asp-for="CPF" class="form-control" />
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="d-flex justify-content-between align-items-center">
                    <label asp-for="Senha" class="control-label mb-0"></label>
                    <a asp-action="Edit" class="text-decoration-underline">esqueceu a senha?</a>
                </div>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>

            <h1>    </h1>


            <div class="form-group text-center" style="width: 100%;">
                <input type="submit" value="Login" class="btn btn-primary btn-lg btn-block" style="width: 100%;" />
            </div>


            
            <h1>    </h1>


            <div class="form-group text-center">
                <a asp-action="Create">ainda não tem cadastro</a>
            </div>

        </form>
        <h3>@ViewBag.Message</h3>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


