@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .text-center {
            text-align: center;
            margin-top: 50px;
        }

        .display-4 {
            color: #49108B;
        }

        p {
            color: #333;
        }

        a {
            color: #49108B;
        }

            a:hover {
                color: #38106d;
            }
    </style>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Bem vindo ao Money master</h1>
     
    </div>
</body>
</html>
